<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Change of Ownership (Death Case - Registered Will) - Approval Order</title>
  </head>
  <body>
    <h1>Change of Ownership (Death Case - Registered Will) - Approval Order</h1>
    <p>Application Reference: {{ARN}}</p>
    <p>Applicant Name: {{APPLICANT_NAME}}</p>
    <p>Property UPN: {{PROPERTY_UPN}}</p>
    <p>Beneficiary(ies): {{BENEFICIARY_NAMES}}</p>
    <p>Issued By: {{AUTHORITY_NAME}}</p>
    <p>Issue Date: {{ISSUE_DATE}}</p>
    <p>The ownership of the above property has been transferred to the beneficiary(ies) of the registered will of the deceased owner.</p>
  </body>
</html>
